XML/email.dtd

<!DOCTYPE email [
<!ELEMENT email (from, to, content)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT content (#PCDATA|person|exercises|course)*>
<!ELEMENT exercises (exercise*)>
<!ELEMENT exercise (topic, description)>
<!ELEMENT topic (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT person (#PCDATA)>
<!ELEMENT course (#PCDATA)>
]>